[submodule "irTorrent/Vendor/TBXML"]
	path = irTorrent/Vendor/TBXML
	url = https://github.com/71squared/TBXML.git
[submodule "irTorrent/Vendor/xmlrpc"]
	path = irTorrent/Vendor/xmlrpc
	url = https://github.com/eczarny/xmlrpc.git
[submodule "irTorrent/Vendor/SVProgressHUD"]
	path = irTorrent/Vendor/SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
[submodule "irTorrent/Vendor/AFNetworking"]
	path = irTorrent/Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "irTorrent/Vendor/RelativeDateDescriptor"]
	path = irTorrent/Vendor/RelativeDateDescriptor
	url = https://github.com/MattMcComb/RelativeDateDescriptor.git
